<div class="row text-center main-header">
  <div class="col-xs-3 slant-column slant-column-left">
    <div class="site-logo">
      <h1 class="white-header">middleTEAM</h1>
    </div>
  </div>
  <div class="col-xs-7" style="width: auto;">
  </div>
  <div class="site-logo-right">
    <h1 class="white-header" style="font-size: 2rem;">
    <span style="text-align: left; float: left; padding-left: 16px; font-size: 1.5rem; line-height: 2.3rem;">location::{{title}}</span>
    <a href="#hub" ng-if="title=='HUB'" class="menu-active">HUB</a>
    <a href="#hub" ng-if="title!='HUB'">HUB</a>
    <a href="#posts"ng-if="title=='POSTS'" class="menu-active">POSTS</a>
    <a href="#posts"ng-if="title!='POSTS'">POSTS</a>
    <a href="" ng-click="logout()">LOGOUT</a>
    </h1>
  </div>
</div>
