<div class="row text-center main-header">
  <div class="col-xs-3 slant-column slant-column-left">
    <div class="site-logo">
      <h1 class="white-header">middleTEAM</h1>
    </div>
  </div>
  <div class="col-xs-7" style="width: auto;">
    <div class="site-logo-right">
      <h1 class="white-header">{{title}}</h1>
    </div>
  </div>
  <div class="btn-group main-menu" uib-dropdown>
    <button id="btn-append-to-single-button" type="button" class="btn btn-primary menu-btn" uib-dropdown-toggle>menu <span class="caret"></span></button>
    <ul class="dropdown-menu main-menu-dropdown" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
      <li role="menuitem"><a href="#hub">hub</a></li>
      <li role="menuitem"><a href="#posts">posts</a></li>
      <li role="menuitem"><a href="" ng-click="logout()">logout</a></li>
    </ul>
  </div>
</div>
