<div class="row text-center">
  <div class="col-md-5">
    <h1>middleteam {{title}}</h1>
  </div>
  <div class="col-md-5">
    <div class="btn-group" uib-dropdown>
      <button id="btn-append-to-single-button" type="button" class="btn btn-primary menu-btn" uib-dropdown-toggle>
        menu <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
        <li role="menuitem"><a href="#hub">hub</a></li>
        <li role="menuitem"><a href="#posts">posts</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="" ng-click="logout()">logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="line-break" style="margin-top: -10px; margin-bottom: 20px;"></div>