<div class="modal-header">
    <h4 class="modal-title-big">create new post</h4>
</div>
<div class="modal-body">
  <div class="login-form text-center">
    <form name="postForm" class="post-form">
      <div class="form-group">
        <input class="mt-site-form mt-site-input" ng-model="title" ng-required="true" placeholder="title"/>
      </div>
      <div class="form-group">
        <textarea class="mt-site-form mt-site-input" style="min-height: 200px;" ng-model="body" ng-required="true" placeholder="body"></textarea>
      </div>
      <div class="form-group text-left">
        
        <label for="postPicture" ng-hide="picFile"><div class="btn btn-default mt-site-btn-light" style="margin: 5px auto;">Add Image</div></label>
        <input id="postPicture" type="file" ngf-select ng-model="picFile" name="postPicture" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFiles" class="mt-site-form mt-site-file" style="display: none;">
        <i ng-show="postForm.file.$error.maxSize">File too large, max size of 2M.</i>
        <img ng-show="postForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
        <label for="postPicture" class="center-label" ng-show="picFile"><div class="btn btn-default mt-site-btn-light">Replace Image</div></label>
        <div class="btn btn-default mt-site-btn-light" style="margin: 5px auto;" ng-click="picFile = null" ng-show="picFile">Remove Image</div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default mt-site-btn-light" type="button" ng-disabled="!postForm.$valid || submitDisabled" ng-click="createPost(picFile)">Save Post</button>
    <button class="btn btn-default mt-site-btn-light" type="button" ng-click="cancelPost()">Cancel Post</button>
</div>