<div class="container-fluid">
  <div id="navbar" ng-controller="headerCtrl">
      <div ng-include src="'views/_header.html'"></div>
  </div>
  <div class="page-container">
    <div class="row top-row">
      <div class="col-md-6 card">
        <div class="card-header dark-blue">
          <h3>Latest Posts</h3>
        </div>
        <div class="card-body">
          <div ng-repeat="post in posts">
              <div ng-if="$index!=0" class="line-break"></div>
              <h5 style="font-weight: bold;">{{post.title}}</h5>
              <p>{{post.body}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>  
  </div>
  
</div>