<div class="container-fluid">
  <div class="row text-center main-header">
    <div class="col-xs-3 slant-column slant-column-left">
      <div class="site-logo">
        <h1 class="white-header">middleTEAM</h1>
      </div>
    </div>
    <div class="col-xs-7" style="width: auto;">
    </div>
    <div class="site-logo-right">
      <h1 class="white-header">welcome</h1>
    </div>
  </div>
  <div class="row top-row relative">
    <div class="center-pos card sm ani-tb" ng-hide="signUpform">
      <div class="card-header dark-blue">
        <h3>login</h3>
      </div>  
      <div class="login-form card-body text-center">
        <form name="loginForm" ng-submit="login()">
          <div class="form-group">
            <input type="email" class="mt-site-form mt-site-input" ng-model="email" ng-required="true" placeholder="email"/>
          </div>
          <div class="form-group">
            <input type="password" class="mt-site-form mt-site-input" ng-model="password" ng-required="true" placeholder="password"/>
          </div>
          <button type="submit" class="btn btn-default mt-site-btn">login</button>
        </form>
        <h6 class="sra-text">Don't have an account? <a href="" ng-click="signUpform=true">Create one here.</a></h6>
      </div>
    </div>
    <div class="center-pos card sm ani-tb" ng-show="signUpform">
      <div class="card-header dark-blue">
        <h3>sign-up</h3>
      </div>
      <div class="signup-form card-body text-center">
        <form name="signUpForm" ng-submit="signUp()">
          <div class="form-group">
            <input type="email" class="mt-site-form mt-site-input" ng-model="newemail" ng-required="true" placeholder="email"/>
          </div>
          <div class="form-group">
            <input class="mt-site-form mt-site-input" ng-model="newusername" ng-required="true" placeholder="username"/>
          </div>
          <div class="form-group">
            <input type="password" class="mt-site-form mt-site-input" ng-model="newpassword" ng-required="true" placeholder="password"/>
          </div>
          <div class="form-group">
            <input type="password" class="mt-site-form mt-site-input" ng-model="newpassword_conf" ng-required="true" placeholder="password confirmation"/>
          </div>
          <div class="form-group">
            <input type="password" class="mt-site-form mt-site-input" ng-model="secret" ng-required="true" placeholder="secret code"/>
          </div>
          <button type="submit" class="btn btn-default mt-site-btn">sign-up</button>
        </form>
        <h6 class="sra-text">Already a user? <a href="" ng-click="signUpform=false">Login here.</a></h6>
      </div>
    </div>
  </div>
</div>