<div class="container-fluid">
  <div id="navbar" ng-controller="headerCtrl">
      <div ng-include src="'views/_header.html'"></div>
  </div>
  <div class="page-container">

    <div class="row top-row">

      <div class="left-bar">
        <h1 class="sidebar-icon" ng-click="openPostCreate()"><i class="fa fa-plus-square"></i></h1>
        <h1 class="sidebar-icon" ng-show="showNext" ng-click="nextPage()"><i class="fa fa-arrow-circle-right"></i></h1>
        <h1 class="sidebar-icon" ng-show="showPrevious" ng-click="previousPage()"><i class="fa fa-arrow-circle-left"></i></h1>
      </div>
      
      <div class="col-xs-11 col-sm-offset-1 card text-center">
        <div ng-repeat="post in posts">
          <div class="line-break"></div>
          <div class="row">
            <div class="col-sm-2">
              <img ng-show="{{post.has_image}}" src="{{post.image_url}}" alt="Post Image" class="post-thumb">
              <img ng-hide="{{post.has_image}}" src="images/post-image.jpg" alt="Post Image" class="post-thumb">
            </div>
            <div class="col-sm-10">
              <span><h3 style="font-weight: bold; margin-bottom: 0;">{{post.title}}</h3> <h6 style="margin-top: 0;">by {{post.author}} on {{post.display_date}}</h6></span>
              <p>{{post.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</div>